@model CreateCarBindingModel
@{
    ViewData["Title"] = "Add Car";
}

<div class="row">
    <div class="col-md-4">
        <form asp-area="LoggedUser" asp-controller="Vehicles" asp-action="Create" method="post" class="form-horizontal">
            <h4>Create a new vehicle.</h4>
            <hr />
            @*<input type="hidden" asp-for="@Model.UserId" />*@
            <div class="form-group">
                <label asp-for="@Model.Make"></label>
                <input asp-for="@Model.Make" class="form-control" />
                <span asp-validation-for="@Model.Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Modification"></label>
                <input asp-for="@Model.Modification" class="form-control" />
                <span asp-validation-for="@Model.Modification" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.ImageUrl"></label>
                <input asp-for="@Model.ImageUrl" class="form-control" />
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.FirstRegistrationDate"></label>
                <input asp-for="@Model.FirstRegistrationDate" class="form-control" />
                <span asp-validation-for="@Model.FirstRegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.HorsePower"></label>
                <input asp-for="@Model.HorsePower" class="form-control" />
                <span asp-validation-for="@Model.HorsePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Kilometers"></label>
                <input asp-for="@Model.Kilometers" class="form-control" />
                <span asp-validation-for="@Model.Kilometers" class="text-danger"></span>
            </div>

            <a href="/" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>



